<div id="netsheet-list" v-cloak>

  <div class="uk-container uk-margin-auto" uk-grid>
    <div class="uk-width-4-5 uk-margin-auto uk-padding-remove">
      <div class="uk-alert-container"></div>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match js-filter" v-if="netsheets.length > 0" uk-grid>
          <div v-for="netsheet in netsheets" :date="netsheet.closingDate">
              <div class="uk-card uk-card-hover uk-card-default">
                <div class="uk-text-right uk-margin-remove">
                  <div class="uk-label uk-background-muted uk-text-emphasis" style="margin:.5rem;">{{ netsheet.offerStatus }}</div>
                </div>
                <div class="uk-card-header uk-padding-remove-vertical" style="border-bottom:none;">
                  <h6 class="uk-text-uppercase">{{ netsheet.client }}</h6>
                </div>
                <div class="uk-card-body" style="padding-top:.5rem;">
                  <p class="uk-text-meta uk-margin-remove-vertical">{{ netsheet.dataType }}</p>
                  <p class="uk-text-meta uk-margin-remove-vertical">{{ netsheet.address }}</p>
                </div>
                <div class="uk-card-footer">
                  <a :href="'/netsheet/'+netsheet.sid" class="uk-button uk-button-text uk-float-left">Edit</a>
                  <a :href="'/netsheet/generate?sid='+netsheet.sid" class="uk-button uk-button-text uk-margin-small-left uk-float-left">Generate</a>
                  <span class="uk-icon-link uk-float-right uk-text-muted uk-margin-remove trash" :uk-icon="'icon: ' + icons.trash" @click="clickDeleteNetsheet(netsheet.id)"></span>
                </div>
              </div>
          </div>
        </div>
        <div v-else id="404">
          <div class="container text-center">
            <h1 class="display-1 mb-3">It's quiet here</h1>
            <hr/>
            <h2>You haven't generated any net sheets yet!</h2>
            <div class="help">
              <p>Think you're seeing this message in error?<br/><span class="mobile-spacer">&nbsp;</span>Please <a href="/contact">let us know.</a></p>
            </div>
          </div>
        </div>
      </div>


      <% /* "Delete netsheet" modal */ %>
    <modal v-if="confirmDeleteNetsheetModalOpen && selectedNetsheet" v-cloak key="delete" @close="closeDeleteNetsheetModal()">
      <div class="uk-modal-header">
        <h5 class="uk-modal-title">Remove this netsheet?</h5>
        <button type="button" class="uk-modal-close-default close" data-dismiss="modal" aria-label="Close">
          <span :uk-icon="'icon: ' + icons.close"></span>
        </button>
      </div>
      <ajax-form action="destroyOneNetsheet" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingDeleteNetsheetForm" @submitted="submittedDeleteNetsheetForm()">
        <div class="uk-modal-body">
          <p>Are you sure you want to remove this {{selectedNetsheet.label || 'item'}}?</p>
          <p>This item will no longer be available to export or generate.</p>
          <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
        </div>
        <div class="uk-modal-footer">
          <button data-dismiss="modal" class="uk-button uk-button-default uk-margin-right">Nevermind</button>
          <ajax-button type="submit" :syncing="syncing" class="uk-button uk-button-danger uk-margin-left">Remove</ajax-button>
        </div>
      </ajax-form>
    </modal>

    </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
